@import "tailwindcss";

/* * {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
} */

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}